/* ----------------------------------- font------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* ---------------------------------------------------------------------- */

*{
    margin: 0;
    padding: 0;
}
ul ,ol{
    list-style:none ;
    
}
a{
    display: inline-block;
    text-decoration: none;
}
.container{
    width: 1160px;
    margin: 0 auto;
}

/* ------------------------------------------------------------------------------header-------------------- */
.navbar{
    padding-top: 20px;
}
.nav_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_logo{
    display: flex;
    align-items: center;
    gap: 11px;
}
.nav_logo span{
    font-size: 32px;
    font-weight: 700;
    font-family: "Quicksand", serif;
    color: black;
}
.nav_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 186px;
}
.content_text ul{
    display: flex;
    gap: 32px;
}
.content_text ul li a{
    font-size: 20px;
    font-weight: 700;
    font-family: "Quicksand", serif;
    color: orange;
}
.content_button a{
    background-color: orange;
    padding: 10px 60px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Quicksand", serif;
    color: white;

}
.nav_icon{
    display: none;
}
/* --------------------------------------------nav end--------------------------------- */
/* -------------------------------------------hero part start------------------------------ */
.hero_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero_col1 h1{
    width: 577px;
    font-size: 56px;
    font-weight: 700;
    font-family: "Quicksand", serif;
    color: black;

}
.hero_col1 p{
    width: 577px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Quicksand", serif;
    color: black;
    margin: 24px 0px;

}
.hero_col1 a{
    background-color: black;
    padding: 10px 47px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Quicksand", serif;
    color: white;
}
/* --------------------------------------main body curriculum part----------------------------- */
.curriculum{
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.curriculum_row{
    padding: 60px 0px;
}
.curriculum_row1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.curriculum_row1 h2{
    font-size: 46px;
    font-weight: 700;
    font-family: "Quicksand", serif;
    color: black;
}
.curriculum_row2{
    display: flex;
    justify-content: space-between;
    padding: 80px 0px;
}
.curriculum_row2_card{
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(222, 245, 255, 1));
    padding: 52px 40px;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.curriculum_row2_card h3{
    font-size: 24px;
    font-weight: 700;
    font-family: "Quicksand", serif;
    color: #202020;
    margin: 32px 0px;
}
.curriculum_row2_card p{
    width: 286px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Quicksand", serif;
    color: #808080;
    text-align: center;
    line-height: 28px;
    margin-bottom: 32px;
}
.curriculum_row2_card a{
    font-size: 15px;
    font-weight: 700;
    font-family: "Quicksand", serif;
    color: #64C8FF;
}
.curriculum_row3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.curriculum_row3 .button{
    display: flex;
    gap: 10px;
}
.curriculum_row3 button{
    background-color: orange;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
}
.curriculum_row3 button i{
    color: white;
    font-size: 24px;
}
/* ------------------------------responsive------------------- */
/* --------------------------------nav bar-------------------- */
@media screen and (max-width:576px) {
    .container{
        width: 358px;
        padding: 0 20px;
    }
    .navbar{
        padding-top: 12px;
        border: 1px solid orange;
        padding-bottom: 12px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .nav_content{
        display: none;
        gap: 0px;
    }
    .nav_logo img{
        width: 46px;
        height: 46px;
    }
    .nav_logo span{
       display: none;
    }
    .nav_icon{
        display: block;
    }
    .nav_icon i{
        width: 30px;
        height: 30px;
        margin-top: 14px;
    }
    .navbar .span{
        display: block;
    }
    /* ------------------------------------------------- */
   /* --------------------------- hero part start---------------- */
   .hero_row{
     display: flex;
     flex-direction: column-reverse;
    }
    .hero_col1 h1{
        /* display: flex; */
        width: 333px;
        font-size: 32px;
        font-weight: 700;
        font-family: "Quicksand", serif;
        color: black;
        text-align: center;
        margin-top: 20px;
    
    }
    .hero_col1 p{
        width: 333px;
        font-size: 14px;
        font-weight: 500;
        font-family: "Quicksand", serif;
        color: black;
        margin: 18px 0px;
    
    }
    .hero_col1 a{
        background-color: black;
        padding: 6px 24px;
        border-radius: 12px;
        font-size: 16px;
        font-weight: 700;
        font-family: "Quicksand", serif;
        color: white;
    }
    .hero_col2 img{
        width: 336px;
        height: 413px;
        margin-top: 28px;
    }
  
}